@mixin pc { @media (max-width: 1026px) {     
    @content;   
   } 
}  

@mixin mobile { @media (max-width: 739px) {     
    @content;   
   } 
} 

.login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
        center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    &-container {
        width: 25%;
        padding: 20px;
        background-color: white;
        @include pc {
            width: 40%;
        }

        @include mobile {
            width: 70%;
        }

        h1 {
            font-size: 24px;
            font-weight: 300;
        }

        form {
            display: flex;
            flex-direction: column;

            input {
                flex: 1;
                min-width: 40%;
                margin: 10px 0;
                padding: 10px;

                &:focus {
                    outline: none;
                }
            }

            button {
                width: 40%;
                border: none;
                padding: 15px 20px;
                background-color: teal;
                color: white;
                cursor: pointer;
                margin-bottom: 10px;
            }

            a {
                margin: 5px 0px;
                font-size: 12px;
                text-decoration: underline;
                cursor: pointer;
            }

            .error {
                color: red;
                margin-bottom: 5px;
            }
        }
    }
}