@mixin mobile { @media (max-width: 739px) {     
    @content;   
   } 
}


.footer {
    display: flex;
    flex-wrap: wrap;

    &__left {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 20px;

        p {
            margin: 20px 0px;
        }

        &-social {
            display: flex;

            &--item {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 20px;
            }
        }
    }

    &__center {
        flex: 1;
        padding: 20px;

        h3 {
            margin-bottom: 30px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
        }

        li {
            width: 50%;
            margin-bottom: 10px;
        }
    }

    &__right {
        flex: 1;
        padding: 20px;

        h3 {
            margin-bottom: 30px;
        }

        &-item {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }

        img {
            width: 50%;
        }
    }
}